/*--Google-Fonts--*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*--End-Google-Fonts--*/
@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  /*-- Header-Top --*/
  .header-top-area .head-logo img {
    display: none;
  }
  .head-left ul li {
    margin-right: 107px;
  }
  .head-left ul li:last-child {
    margin-right: 107px;
  }
  .head-left ul li a {
    font-size: 14px;
  }
  .head-left ul li a i {
    font-size: 12px;
    top: 0px;
    right: 1px;
  }
  .header-right::before {
    display: none;
  }
  .header-right ul {
    right: 110px;
  }
  .header-right ul li {
    margin-right: 11px;
  }
  .header-right ul li i {
    font-size: 13px;
  }
  /*-- Banner-Area --*/
  .banner-area {
    height: 650px;
  }
  .banner-area .shape-img .shape-one {
    width: 30px;
  }
  .banner-area .shape-img .shape-two {
    top: 103px;
    width: 10px;
    right: 23px;
  }
  .banner-area .shape-img .shape-three {
    width: 11px;
  }
  .banner-text {
    margin-bottom: 30px;
    margin-top: 45px;
  }
  .banner-text h2 {
    font-size: 29px;
    text-align: center;
  }
  .banner-text p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .banner-text .banner-btn {
    text-align: center;
  }
  .banner-text .banner-btn .btn-one {
    font-size: 13px;
    padding: 11px 15px;
  }
  .banner-text .banner-btn .btn-two {
    font-size: 13px;
    padding: 11px 15px;
    margin-left: 6px;
  }
  .common-text {
    margin-bottom: 45px;
  }
  .common-text img {
    left: 84px;
    top: -8px;
    width: 13px;
  }
  .common-text span {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .common-text h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .common-text p {
    font-size: 13px;
  }
  /*-- END Banner-Area --*/
  /* -- Service-area -- */
  .service-item {
    padding: 25px;
  }
  .service-item h2 {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .service-item p {
    font-size: 15px;
    margin-bottom: 15 px;
  }
  /* -- END Service-area -- */
  /*-- Company-Area -- */
  .common-left-text {
    text-align: center;
  }
  .common-left-text span {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .common-left-text h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .common-left-text p {
    font-size: 13px;
  }
  .common-left-text img {
    left: 82px;
    top: -6px;
    width: 13px;
  }
  .company-area .company-shape .img-one {
    right: 19px;
    top: -356px;
    width: 11px;
  }
  .company-img::before {
    display: none;
  }
  .company-img::after {
    display: none;
  }
  /*-- END Company-Area -- */
  /*--Choose-Area--*/
  .choose-content {
    margin-top: 35px;
  }
  .acc-kontainer label {
    padding: 12px;
    font-size: 15px;
  }
  .acc-kontainer label i {
    font-size: 17px;
    margin-right: 5px;
  }
  .acc-kontainer label:before {
    font-size: 9px;
    top: 9px;
  }
  .acc-kontainer input:checked ~ .acc-body {
    font-size: 13px;
    text-align: center;
    padding: 18px;
  }
  .acc-kontainer input:checked ~ .acc-body:before {
    width: 200px;
    left: 45px;
    right: 0;
    bottom: 107px;
  }
  /*-- END Choose-Area--*/
  /*--Working-Area--*/
  .work-head img {
    left: 77px;
    top: -8px;
    width: 13px;
  }
  .work-icon::before {
    display: none;
  }
  .work-icon img {
    display: none;
  }
  .work-item img {
    padding: 14px 16px;
  }
  .work-item h2 {
    font-size: 17px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .work-item p {
    font-size: 13px;
  }
  /*-- END Working-Area--*/
  /* -- Studeis-Area -- */
  .stude-list li {
    margin-right: 7px;
    margin-bottom: 6px;
    font-size: 11px;
  }
  .studes-area .stude-mix .single-stude .stude-content {
    text-align: center;
    padding: 15px;
  }
  .studes-area .stude-mix .single-stude .stude-content h2 {
    font-size: 17px;
    margin-bottom: 7px;
  }
  .studes-area .stude-mix .single-stude .stude-content a {
    font-size: 13px;
  }
  .case-btn p {
    font-size: 13px;
  }
  /* -- Studeis-Area -- */
  .fatures-text img {
    left: 99px;
    top: -6px;
    width: 13px;
  }
  .fatures {
    margin-bottom: 30px;
  }
  .fatures ul li {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .fatures ul li img {
    margin-right: 8px;
    width: 23px;
  }
  .fatures .fatures-btn {
    font-size: 13px;
    padding: 13px 19px;
    margin-top: 10px;
  }
  /* -- Team-area -- */
  .single-team .team-content {
    padding: 15px;
  }
  .single-team .team-content p {
    font-size: 13px;
    margin-top: 5px;
  }
  .single-team .team-content h2 {
    font-size: 17px;
  }
  /* -- END Team-Ara ---*/
  /* -- Feedback-area -- */
  .feedback-content .feedback-shap-one {
    left: 164px;
  }
  .feedback-content .feedback-shap-two {
    left: 226px;
  }
  .feedback-content .feedback-shape-three {
    right: 217px;
    top: 27px;
  }
  .feedback-content .feedback-shape-five {
    right: 203px;
    top: 188px;
  }
  .feedback-content .feedback-shape-six {
    left: 189px;
    top: 281px;
  }
  .feedback-content .feedback-shape-eight {
    right: 223px;
    top: 343px;
  }
  .feedback-content .feedback-shape-saven {
    left: 135px;
    top: 399px;
  }
  .testimonial-wrp {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
  }
  .testimonial-slider {
    height: 590px;
  }
  .testimonial-slider .testimonial-wrp h2 {
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 5px;
  }
  .testimonial-slider .testimonial-wrp span {
    font-size: 14px;
  }
  .testimonial-slider .testimonial-wrp p {
    font-size: 13px;
    margin-top: 13px;
  }
  .feedback-area .slider-shape .shape-one {
    display: none;
  }
  .feedback-area .slider-shape .shape-two {
    display: none;
  }
  .feedback-area .slider-shape .shape-three {
    display: none;
  }
  .feedback-area .slider-shape .shape-four {
    display: none;
  }
  .feedback-area .slider-shape .shape-five {
    display: none;
  }
  .feedback-area .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
    top: -8%;
  }
  .testimonial-slider {
    height: 360px;
  }
  .team-area .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
    position: relative;
    top: 0%;
    right: 0;
    margin-top: 35px;
  }
  .team-area .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background-color: #dcdcdc;
    border: 0;
  }
  /* -- END Feedback-area -- */
  /*-- Blog-Area --*/
  .blog-item {
    text-align: center;
    padding: 30px 20px 30px 25px;
  }
  .blog-item span {
    font-size: 13px;
  }
  .blog-item h2 {
    font-size: 17px;
    margin-bottom: 12px;
    margin-top: 8px;
  }
  .blog-item h2 {
    font-size: 17px;
    margin-bottom: 12px;
    margin-top: 8px;
  }
  .blog-item p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .blog-item .bate {
    margin-bottom: 15px;
  }
  /*-- Blog-Area --*/
  /* -- Contact-Area -- */
  .contact-img {
    margin-bottom: 30px;
  }
  .contact-area .form-control {
    height: 40px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #b9caea;
  }
  .contact-area .default-btn {
    padding: 10px 23px;
    font-size: 13px;
  }
  /*--End Contact-Area--*/
  /*--Footer-Area--*/
  .footer-contact {
    text-align: center;
    margin-top: 50px;
  }
  .footer-contact .box-btn {
    top: 148px;
    right: 0px;
    height: 45px;
    padding: 13px 15px;
  }
  .footer-contact .form-control {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #b9caea;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-contact p {
    font-size: 13px;
    margin-top: 17px;
    margin-bottom: 15px;
  }
  .footer-contact span {
    font-size: 19px;
  }
  .footer-item {
    text-align: center;
  }
  .footer-item h2 {
    font-size: 21px;
    margin-bottom: 9px;
    left: 16px;
  }
  .footer-item h2::before {
    left: 79px;
    top: 5px;
    width: 3px;
    height: 20px;
  }
  .footer-item ul {
    margin-bottom: 20px;
  }
  .footer-item ul li {
    margin-bottom: 7px;
  }
  .footer-item ul li a {
    font-size: 13px;
  }
  .copy-area .footer-menu ul li {
    margin-right: 7px;
    float: left;
  }
  .copy-area .footer-menu ul li a {
    font-size: 10px;
  }
  .footer-right P {
    font-size: 9px;
    text-align: center;
    color: #f5faff;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .back-to-top-btn i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-right: 12px;
  }
  /*-- END Footer-Area--*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  /*-- Header-Top --*/
  .head-left ul li {
    margin-right: 10px;
  }
  .head-left ul li:last-child {
    margin-right: 63px;
  }
  .head-left ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #051242;
  }
  .header-right::before {
    width: 1px;
    height: 15px;
    left: -46px;
    top: 4px;
  }
  .header-right ul li {
    margin-right: 13px;
  }
  .header-right ul li i {
    font-size: 15px;
  }
  .header-logo img {
    width: 95px;
  }
  /*-- END Header-Top --*/
  .banner-text {
    text-align: center;
    margin: auto;
  }
  .banner-text h2 {
    font-size: 38px;
  }
  .banner-text p {
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 35px;
  }
  .banner-text .banner-btn {
    margin-bottom: 45px;
  }
  .banner-text .banner-btn .btn-one {
    font-size: 14px;
    padding: 13px 20px;
  }
  .banner-text .banner-btn .btn-two {
    font-size: 14px;
    padding: 13px 20px;
    margin-left: 10px;
  }
  .banner-area {
    height: 870px;
    margin-top: 50px;
  }
  .banner-area .shape-img .shape-one {
    top: 88px;
    left: 65px;
    width: 67px;
  }
  .banner-area .shape-img .shape-two {
    top: 28px;
    left: 660px;
    width: 16px;
  }
  .banner-area .shape-img .shape-three {
    top: 280px;
    left: 38px;
    width: 15px;
  }
  .banner-img img {
    width: 583px;
  }
  /*-- End Home-Banner-Area --*/
  /* -- Service-area -- */
  .common-text {
    margin-bottom: 35px;
  }
  .common-text img {
    left: 268px;
    top: -7px;
    width: 15px;
  }
  .common-text span {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .common-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .common-text p {
    font-size: 14px;
  }
  .service-item {
    padding: 25px;
  }
  .service-item h2 {
    font-size: 23px;
    margin-top: 18px;
    margin-bottom: 15px;
  }
  .service-item p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  /* -- END Service-area -- */
  /*-- Company-Area -- */
  .common-left-text {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
  }
  .common-left-text h2 {
    font-size: 30px;
    margin-bottom: 23px;
  }
  .common-left-text img {
    left: 268px;
    top: -5px;
    width: 15px;
  }
  .company-img {
    left: 39px;
    right: 0;
    top: 45px;
    margin-bottom: 30px;
  }
  .company-img:after {
    width: 290px;
    height: 99px;
    bottom: -38px;
    right: 125px;
  }
  .company-img:before {
    width: 290px;
    height: 99px;
    top: -35px;
    left: -39px;
  }
  /*-- End Company-Area -- */
  /*--Choose-Area--*/
  .choose-content {
    margin-top: 30px;
  }
  .acc-kontainer label {
    padding: 13px;
    font-size: 17px;
  }
  .acc-kontainer label i {
    font-size: 17px;
    padding: 3px 5px;
    margin-right: 10px;
  }
  .acc-kontainer label i:before {
    font-size: 10px;
  }
  .acc-kontainer input:checked ~ .acc-body {
    font-size: 14px;
    padding: 17px;
    margin-top: -21px;
  }
  .acc-kontainer input:checked ~ .acc-body:before {
    width: 510px;
    left: 51px;
    bottom: 47px;
  }
  /*-- End Choose-Area --*/
  /*-- Working-Area --*/
  .work-two .work-icon::before {
    display: none;
  }
  .work-two .work-icon img {
    display: none;
  }
  .work-item img {
    padding: 13px 13px;
    border-radius: 5px;
    width: 55px;
  }
  .work-item h2 {
    font-size: 21px;
    margin-top: 17px;
    margin-bottom: 15px;
  }
  .work-item p {
    font-size: 14px;
  }
  .work-item .work-icon::before {
    top: -112px;
    left: 353px;
    height: 170px;
  }
  .work-item .work-icon img {
    right: -39px;
    top: -56px;
  }
  .work-head img {
    left: 263px;
    width: 15px;
  }
  /*--End Woeking-Area --*/
  /* -- Studeis-Area -- */
  .common-left-text img {
    left: 276px;
    top: -5px;
    width: 15px;
  }
  .common-left-text span {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .common-left-text h2 {
    font-size: 27px;
    margin-bottom: 15px;
  }
  .common-left-text p {
    font-size: 15px;
  }
  .studes-area .stude-mix .single-stude .stude-content {
    padding: 17px;
  }
  .studes-area .stude-mix .single-stude .stude-content h2 {
    font-size: 20px;
  }
  /* -- END Studeis-Area -- */
  /* -- Fatures-Area -- */
  .fatures ul li {
    font-size: 17px;
    margin-bottom: 13px;
  }
  .fatures ul li img {
    margin-right: 7px;
    width: 25px;
  }
  .fatures .fatures-btn {
    font-size: 14px;
    padding: 13px 20px;
    margin-top: 8px;
  }
  .testimonial-wrp {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 115px;
  }
  .testimonial-wrp p {
    font-size: 17px;
    margin: 20px 28px 21px 28px;
  }
  /*--End Feedback-Area--*/
  /*--Blog-Area--*/
  .blog-item h2 {
    font-size: 19px;
    margin-bottom: 13px;
    margin-top: 3px;
  }
  .blog-item span {
    font-size: 14px;
  }
  .blog-item .bate {
    margin-bottom: 10px;
  }
  /*-----End Blog-Area----*/
  /*-- Contact-Area ---*/
  .contact-area .default-btn {
    padding: 13px 30px;
    font-size: 13px;
  }
  .footer-item h2 {
    font-size: 23px;
    margin-bottom: 13px;
    left: 5px;
  }
  .footer-item h2::before {
    left: -14px;
    top: 4px;
    width: 4px;
    height: 24px;
  }
  .footer-item ul li {
    margin-bottom: 13px;
  }
  .footer-item ul li a {
    font-size: 14px;
  }
  .footer-contact p {
    font-size: 14px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .footer-contact span {
    font-size: 21px;
  }
  .footer-contact .form-control {
    width: 250px;
    height: 50px;
    padding: 13px;
    font-size: 14px;
    border: 1px solid #b9caea;
    border-radius: 5px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .footer-contact .box-btn {
    top: 159px;
    right: 80px;
    height: 50px;
    padding: 14px 13px;
  }
  .footer-social ul li i {
    font-size: 14px;
    padding: 5px;
  }
  .copy-area {
    margin-top: 45px;
    padding: 15px 0;
  }
  .copy-area .footer-menu li {
    margin-right: 8px;
  }
  .copy-area .footer-menu li a {
    font-size: 12px;
  }
  .copy-area .footer-right P {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*-- Header-Top-Area --*/
  .head-left ul li:last-child {
    margin-right: 25px;
  }
  .header-right::before {
    width: 1px;
    height: 25px;
    left: -6px;
    top: 0px;
  }
  /*-- END Header-Top-Area --*/
  /*-- Navbar-area ---*/
  .main-nav nav .navbar-nav .nav-item a {
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
    margin-right: 10px;
  }
  .main-nav nav .nav-btn .top-btn {
    font-size: 15px;
    padding: 13px 20px;
  }
  /*-- End Navbar Area --*/
  /*-- Home-Banner-Area --*/
  .banner-text h2 {
    font-size: 45px;
  }
  .banner-area .shape-img .shape-one {
    top: 67px;
    left: 17px;
  }
  .banner-area .shape-three {
    top: 292px;
    left: 10px;
    width: 16px;
  }
  /*-- End Home-Banner-Area --*/
  /* -- Service-area -- */
  .common-text img {
    position: absolute;
    left: 387px;
    top: -11px;
    width: 19px;
    width: 19px;
  }
  .service-item h2 {
    font-size: 22px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
  /* -- END Service-area -- */
  /*-- Company-Area -- */
  .common-left-text img {
    left: -12px;
    top: -10px;
    width: 15px;
  }
  .acc-kontainer input:checked ~ .acc-body:before {
    width: 351px;
    height: 1px;
    left: 62px;
    right: 0;
    bottom: 93px;
  }
  .work-head img {
    left: 381px;
    width: 16px;
  }
  .work-icon::before {
    top: -104px;
    left: 223px;
    height: 145px;
  }
  .work-icon img {
    right: -47px;
    top: -68px;
  }
  .work-item {
    padding-bottom: 0px;
  }
  /*-- END Work-area --*/
  .feedback-content .feedback-shap-one {
    left: 353px;
    width: 80px;
    top: 22px;
  }
  .feedback-content .feedback-shape-saven {
    left: 265px;
    width: 70px;
    top: 354px;
  }
  .feedback-content .feedback-shape-five {
    right: 183px;
    width: 90px;
    top: 215px;
  }
  .feedback-content .feedback-shape-six {
    left: 31px;
    width: 76px;
    top: 300px;
  }
  .feedback-content .feedback-shape-eight {
    right: 304px;
    width: 82px;
    top: 362px;
  }
}
/*# sourceMappingURL=responsive.css.map */